.DS_Store
/bootstrap/cache/
/vendor
/node_modules
.env
.env.dusk.dev
/public/.htaccess
/public/images-old
/public/pics
/public/sitemap.xml
/public/sitemap/*
/public/js
/public/vendor
/public/generated-css
/public/fonts/
/storage/*.key
public/fonts/vendor/
/public/mix-manifest.json
/public/sitemap*
/resources/vendor/bootstrap3-sass
/resources/vendor/devbridge-autocomplete
/public/hot
/public/storage
/storage/*.key
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/_ide_helper.php
/.phpstorm.meta.php
/.php-cs-fixer.cache